.PageAddReport {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.AreaEstimate {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.TableReportShow {
  display: flex;
  width: 40%;
}
